<div class="card">
  <div class="card-body">
    <form [formGroup]="documentForm" (ngSubmit)="onSubmit()">
      <div class="header mb-3">
        <label class="form-label">
          Todos los campos son obligatorios
        </label>
      </div>

      <div class="mb-2">
        <label class="form-label">Tipo de documento</label>
        <select class="form-control" formControlName="tipoDocumento">
          <option *ngFor="let tipo of tiposDocumento" [value]="tipo">{{ tipo }}</option>
        </select>
        <div *ngIf="documentForm.get('tipoDocumento')?.invalid && documentForm.get('tipoDocumento')?.touched">
          <small class="text-danger">Este campo es obligatorio.</small>
        </div>
      </div>

      <div class="mb-2">
        <label class="form-label">Número de documento</label>
        <input type="text" class="form-control" formControlName="numeroDocumento" placeholder="1039454860" (input)="onInputChange($event)">
        <div *ngIf="documentForm.get('numeroDocumento')?.invalid && documentForm.get('numeroDocumento')?.touched">
        <small class="text-danger" *ngIf="documentForm.get('numeroDocumento')?.errors?.['required']">Este campo es obligatorio.</small>
        <small class="text-danger" *ngIf="documentForm.get('numeroDocumento')?.errors?.['minlength']">Debe tener al menos 8 caracteres.</small>
        <small class="text-danger" *ngIf="documentForm.get('numeroDocumento')?.errors?.['maxlength']">No puede tener más de 11 caracteres.</small>
        <small class="text-danger" *ngIf="documentForm.get('numeroDocumento')?.errors?.['pattern']">Solo se permiten números.</small>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="documentForm.invalid">Buscar</button>
    </form>
  </div>
</div>
